.label {
    display: block;
    width: 100%;
}
.error {
    display: block;
    color: red;
    position: absolute;
    top: 38px;
    width: 100%;
    text-align: right;
}
.input {
    position: relative;
    height: 65px;
    width: 100%;
}

.input input {
    outline: none;
    border: none;
    box-sizing: content-box;
    border-bottom: 1px solid lightgray;
    width: 100%;
}
.input input:focus {
    border-bottom: 1px solid gray;
}